
.frontpage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 10em;
  }
  
.front__topic {
    margin-top:300px;
    margin-left:100px;
    color: #ffffff;
    font-size: 100;
    line-height: 1em;
  }
  

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
  }

  a{
     text-decoration: none;
     color:white;
   }
    .front__button{
        left:90px;
        padding:10px 20px;
        text-decoration: none;
        display: inline-block;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        border-bottom: 1px solid rgba(0,0,0,0.25);
        font-family: "Lucida Grande",Lucida,Verdana,sans-serif;
        outline:none;
        position:relative;
        font-size: 12px;
        margin:10px;
        background:transparent repeat-x top left;
        white-space:nowrap;
    }
    .button:hover{
        background-color: #777;
    }
    .button:active{
        top: 1px;
        left:1px;
    }